@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-noto-sans-kr), ui-sans-serif, system-ui, sans-serif;

  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans);
}
